{% extends 'layout.html' %}

{% block body %}
    <br>
    <div class="card text-center bg-light">
        <div class="card-body">
            <h1 class="display-2 card-title">CRUD Application</h1>
            <p class="card-text">This is a web application built with the Flask framework with CRUD functionality.</p>
            <p>After learning Python/Flask in the IBM Full Stack Developer Specialization, I wanted to use/replicate what I learned outside of the course to show I fully understood the contents while also building a portfolio piece.</p>
        </div>
    </div>
{% endblock %}